# # pip install langchain chromadb streamlit pypdf openai tiktoken

# python-dotenv==1.0.1

# streamlit==1.35.0

# langchain==0.2.14
# langchain-community==0.2.12
# langchain-experimental==0.0.65
# langchain-groq==0.1.5

# chromadb==0.5.3

# sentence-transformers==2.7.0
# transformers==4.41.2

# rank-bm25==0.2.2

# torch==2.3.0

# pypdf==4.2.0

# pip install langchain-text-splitters
# pip install langchain-experimental


python-dotenv==1.0.1
streamlit==1.35.0

langchain==0.2.14
langchain-community==0.2.19
langchain-text-splitters==0.2.4
langchain-groq==0.1.5

chromadb==0.5.3

sentence-transformers==2.7.0
transformers==4.41.2

rank-bm25==0.2.2
pypdf==4.2.0

torch==2.3.0

pip install faiss-cpu==1.8.0

pip install sqlalchemy